@font-face {
<<<<<<< HEAD
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  header {
    width: 100%;
    border: none;
    margin: 0px auto;
    position: relative;
  }
  .header-top {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 10px;
  }
  .search {
    flex-grow: 1;
    max-width: calc(100% - 20px);
    display: flex;
    justify-content: flex-end;
  }
  .search-box {
    display: flex;
    align-items: center;
    border: 2px solid #fea84d;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .search-txt {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 0.75em;
    flex: 1;
  }
  .search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    padding-right: 15px;
  }
  .search-btn img {
    width: 20px;
  }
  .logo {
    flex-shrink: 0;
  }
  .logo img {
    width: auto;
    height: 25px;
  }
  body {
    font-family: 'Pretendard-Regular', sans-serif;
  }
  .nav {
    display: flex;
    list-style-type: none;
  }
  footer {
    padding: 20px;
    margin-bottom: 100px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
  }
  .grid {
    /* 당 연 히 grid 쓸거면 display 맞춰줘야지.... */
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 5px;
    width: 100%;
    margin: 0%;
  }
  aside {
    grid-column: 3;
  }
  .setting img {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 2.5%;
    width: 10%;
    cursor: pointer;
  }
  .setting_options {
    display: none;
    position: fixed;
    bottom: 15%;
    left: 0;
    margin: 2.5%;
    cursor:pointer;
  }
  .setting_options:active {
    display: flex;
  }
=======
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

header {
  width: 100%;
  border: none;
  margin: 0px auto;
  position: relative;
}

.header-top {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 10px;
}

.search {
  flex-grow: 1;
  max-width: calc(100% - 20px);
  display: flex;
  justify-content: flex-end;
}

.search-box {
  display: flex;
  align-items: center;
  border: 2px solid #fea84d;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}


.search-txt {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 0.75em;
  flex: 1;
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  padding-right: 15px;
}

.search-btn img {
  width: 20px;
}

.logo {
  flex-shrink: 0;
}

.logo img {
  width: auto;
  height: 25px;
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
}

.nav {
  display: flex;
  list-style-type: none;
}

footer {
  padding: 20px;
  margin-bottom: 100px;
  background-color: #ffffff;
  color: #333;
  text-align: center;
}

.grid {
  /* 당 연 히 grid 쓸거면 display 맞춰줘야지.... */
  display: grid;
  grid-template-columns: 25% 50% 25%;
  gap: 5px;
  width: 100%;
  margin: 0%;
}

aside {
  grid-column: 3;
}

.setting img {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 2.5%;
  width: 10%;
  cursor: pointer;
}

.setting_options {
  display: none;
  position: fixed;
  bottom: 15%;
  left: 0;
  margin: 2.5%;
  cursor:pointer;
}

.setting_options:active {
  display: flex;
}
>>>>>>> origin/front_part1
