
.review-title, .review-context, .review-img{
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #757575;
}

.menu1, .menu3, .menu4 {
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    width: 125px; height:40px;
    border-radius: 150px 150px 0 0;
    margin: 0;
}

.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover {
    border: 1px solid #fea84d;
    background-color: #fea84d;
    width: 125px; height:40px;
    border-radius: 150px 150px 0 0;
    margin: 0;
}

.menu2 {
    border: 1px solid #fea84d;
    background-color: #fea84d;
    width: 125px; height:40px;
    border-radius: 150px 150px 0 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1px solid #cccccc;
}

.menu div {
    margin: 0;
}

.menu a {
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.context {
    width: 500px;
    background-color: white;
    margin: 0 auto;
}

.review-write-title {
    padding: 0; margin: 30px 0 15px 0;
    text-align: left;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.line {
    border-bottom: 1px solid #cccccc;
}

.purchased-info {
    display: flex;
    padding: 20px 0 20px 0;
}

.purchased-img {
    width: 100px; height: 100px;
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
}

.purchased-info-in {
    margin-left: 10px;
}

.purchased-name {
    color: black;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.purchased-deli, .purchased-size {
    color: #cccccc;
    margin-bottom: 7px;
}

.review-up-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
}

.review-up-title {
    flex: 1;
    border: 1.5px solid #cccccc;
    margin: 15px 10px 15px 0;
}

.review-title {
    border: none;
    outline: none;
    padding: 12px;
}

.review-up-stars {
    flex: 0 0 auto;
    margin: 15px 10px 15px 0;
}

.review-stars {
    padding: 12px;
    border: 1.5px solid #cccccc;
    color: #fea84d;
}

.review-stars option {
    color: #fea84d;
}

.review-up-context {
    border: 1.5px solid #cccccc;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.review-context {
    border: none;
    outline: none;
    padding: 12px;
}

.review-img {
    display: flex;
    cursor: pointer;
    margin: 15px 0;
    border: 1.5px solid #cccccc;
    padding: 12px;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
}

.review-upload {
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    padding: 5px 20px;
    border-radius: 30px;
    background-color: #fea84d;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.submit-btn-in {
    display: none;
}