<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 세부화면</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global1.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
</head>

<body>
  <div class="grid">
    <div style="grid-column: 2;">
      <header>
        <div class="header-top">
          <div class="logo">
            <a href="">
              <img src="static/images/logo.png" alt="logo">
            </a>
          </div>

          <div class="search">
            <form class="search-box" action="" method="">
              <input class="search-txt" type="text" name="" placeholder="검색...">
              <button class="search-btn" type="submit">
                <img src="static/images/search-icon.png" alt="search-icon">
              </button>
            </form>
          </div>
        </div>
      </header>

      <div class="breadcrumb">
        <!-- 추가 필요 칼럼: main_category, sub_category, name, price, shipping_cost, short_description, main_description, image, rating -->
        메인 카테고리{{ main_category }} > 하위 카테고리{{ sub_category }} > 상품명{{ name }}
      </div>

      <section>
        <div class="product-image"></div>

        <div class="product-info">
          <h2>상품명{{ name }}</h2>
          <div class="price">10,000원{{ price }}</div>
          <div class="shipping">배송비: 3,000원{{ shipping_cost }}</div>

          <div class="button-group">
            <button>직거래</button>
            <button>택배</button>
          </div>

          <div class="rating">
            <span>★</span> 4.8
          </div>

          <div class="short_description">
            짧은 설명{{ short_description }}
          </div>
        </div>
      </section>

      <div class="tabs">
        <button class="active" onclick="showTab('description')">상세설명</button>
        <button onclick="showTab('reviews')">리뷰</button>
        <button onclick="showTab('shipping')">배송정보</button>
      </div>

      <div class="tab-content" id="tab-content">
        <!-- default tab : 상세 설명-->
        <pre>
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum

          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum

          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        </pre>
      </div>
    </div>

    <aside>
      <h3>연관 상품</h3>
      <!-- related items는 추후 js를 통해 동적으로 형성하도록-->
      <div class="related-product-item">
        <img src="" alt="상품 이미지">
        <div>
          <div class="product-name">상품명</div>
          <div class="price">10,000원</div>
        </div>
      </div>

      <div class="related-product-item">
        <img src="" alt="상품 이미지">
        <div>
          <div class="product-name">상품명</div>
          <div class="price">10,000원</div>
        </div>
      </div>
    </aside>
  </div>

    <script src="{{ url_for('static', filename='js/item.js') }}"></script>
</body>

</html>