{% extends "index_2.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg_reviews.css') }}">
{% endblock %}

{% block ul %}
{% endblock %}

{% block section %}
            <div class="menu">
                <div class="menu1">
                    <a href="/reg_items">상품 등록</a>
                </div>
                <div class="menu2">
                    <a href="/history">구매내역</a>
                </div>
                <div class="menu3">
                    <a href="">상품 관리</a>
                </div>
                <div class="menu4">
                    <a href="">내 프로필</a>
                </div>
            </div>

            <div class="context">
                <p class="review-write-title">리뷰 쓰기</p>
                <div class="line"></div>
                <div class="purchased-info">
                    <div class="purchased-img"></div>
                    <div class="purchased-info-in">
                        <div class="purchased-name">상품명</div>
                        <div class="purchased-deli">09.23 주문 - 09.25 배송완료</div>
                        <div class="purchased-size">블랙 XL 구매</div>
                    </div>
                </div>
                <div class="review-up-top">
                    <form class="review-up-title" action="" method="">
                        <input class="review-title" type="text" name="" placeholder="리뷰제목">
                    </form>
                    <form class="review-up-stars" action="" method="">
                        <select class="review-stars" name="">
                            <option value="five-stars">★★★★★</option>
                            <option value="four-stars">★★★★</option>
                            <option value="three-stars">★★★</option>
                            <option value="two-stars">★★</option>
                            <option value="one-stars">★</option>
                        </select>
                    </form>
                </div>
                <form class="review-up-context" action="" method="">
                    <textarea class="review-context" name="" cols="300" rows="7" placeholder="리뷰 작성"></textarea>
                </form>
                <form class="review-up-img" action="" method="">
                    <input id="review-img" style="display: none;" type="file" accept="image/*">
                    <label for="review-img" class="review-img">사진 등록</label>
                </form>
                <form class="review-upload" action="" method="">
                    <label class="submit-btn">
                        <input class="submit-btn-in" type="submit" value="등록"> 등록
                    </label>
                </form>
            </div>
            {% endblock section %}